body {
color: #40514E;
margin: 0;
text-align: center;
font-family: Great Vibes, sans-serif;
}
h1 {
font-size: 5.625rem;
color: #32e0c4;
margin: 50px auto 0 auto;
font-family: Sacramento, sans-serif;
}
h4 {
font-size: 2.5rem;
font-weight: normal;
color: #32e0c4;
font-family: Montserrat, sans-serif;
}
h3 {
color: #32e0c4;
font-family: Montserrat, sans-serif;
}
h2 {
color: #32e0c4;
padding-bottom: 10px;
font-family: Montserrat, sans-serif;
}
.top-container {
background-color: #c6fced;
position: relative;
padding-top: 100px;
}

.top-cloud {
position: absolute;
right: 300px;
top: 40px;
}

hr {
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;
}

.bottom-cloud {
position: absolute
}

.middle-container {
margin: 100px 0;
}

.copy {
color: #40514E;
font-size: 0.7rem;
padding: 20px 0;
}


.skill-row {
padding-top: 50px;
}

a:link {
  color:  #11999E;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #11999E;
}
p {
line-height: 2;
}
/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #11999E;
}
.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}
.code {
width: 25%;
float: left;
margin-right: 30px;
}
.sketch {
width: 25%;
float: left;
margin-right: 30px;
}
.board {
width: 25%;
float: right;
margin-left: 30px;
}
.fashion {
width: 30%;
float: right;
margin-left: 30px;
}
.intro {
width: 30%;
margin: auto;
}